<!DOCTYPE html>
<html>
  <head>
    <title>Dropzone simple example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />


      
  
  </head>
  <body>
  
      <div id="dropzone"><form method="post" action="/upload" class=" needsclick dropzone" id="demo-upload" enctype="multipart/form-data">

  <div class="dz-message needsclick">
   <h2> Drop CSV files here or click to upload.</h2>
  </div>

</form></div>


  </body>
</html>
