body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



a {
  color: #00B7FF;
}

body {
            width: 1440px;
            margin: 15px auto 0;
            background: #fff;
        }
        
#RadViz{
            float:left;position:absolute;left:40%; margin-top: 30px;  width:510px; height:510px;  border-width:1px; border-style:solid; border-color:#bfb7b0;
        }